<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'signInForm.css' %}?version=1">
      {% load static %}
<link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=4">

    {% load static %}
<link rel="stylesheet" href="{% static 'add_game.css' %}?version=1">
    {% load static %}
<script src="{% static 'add_game.js' %}?version=5"></script>
     {% load static %}
<script src="{% static 'properties.js' %}?version=2"></script>
</head>
<body>
{#<button onclick="window.location.href='/main'" type="button">Back to menu</button>#}
<div align="center">
<h2>הוספת משחק</h2>
<form>
  <div class="container">



{#      <p><a href="JavaScript:newPopup('/add_picture');">Open a popup window</a></p>#}
      <button type="button" id="sliding_puzzle_button">פאזל הזזה</button>
      <button type="button" id="drag_puzzle_button">פאזל גרירה</button>
      <button type="button" id="capture_task">משימת צילום</button>
      <button type="button" id="find_the_diff">מצא את ההבדלים</button>

  </div>


</form>
</div>
<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'games_menu.js' %}?version=4"></script>

{#<button onclick="window.location.href='/add_aq'" type="button">Skip</button>#}
{#<button onclick="addGames()" type="button">Finish</button>#}
</body>
</html>
