<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<link rel="stylesheet" href="{% static 'add_info.css' %}?version=1">
</head>
<body>
<div align="center">
<h2>Additional Info</h2>
{#<form>#}
{#  <div class="imgcontainer">#}
{#    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->  <!-- need to add logo or something-->#}
{#  </div>#}
{#  <div class="container">#}
{##}
{#  </div>#}
{#</form>#}
    <div class="circleoo">

  <div class="subject">

    <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>
  </div>

    <form>
<input class="button" type="button" value="Send" onclick="window.location.href='http://localhost:8080/contact_success.html'" />
</form>
        <form>
<input class="button2" type="button" value="Clear" onclick="window.location.href='http://localhost:8080/contact.html'" />
</form>
</div>
{#<iframe width="1%" height="1%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/52813214&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>#}

</div>
</body>
</html>
