<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'buttoni.css' %}?version=2">
    {% load static %}
    <link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=4">
    {% load static %}
    <link rel="stylesheet" href="{% static 'attractions_style.css' %}?version=1">
    <title>הוספת מסלול בינוני</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'paths_style.css' %}?version=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Map.css' %}?version=3">
    {% load static %}
    <script src="{% static 'attractions.js' %}?version=6"></script>
    {% load static %}
    <script src="{% static 'add_medium_path.js' %}?version=6"></script>
    {% load static %}
    <script src="{% static 'properties.js' %}?version=5"></script>
    {% load static %}
    <script src="{% static 'syncAttr.js' %}?version=5"></script>
</head>
<body>
<div>
    <div id="map">
        {% load static %}
        <script src="{% static 'Map.js' %}?version=5"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7rvXqYArUeu8hVHETM6g9w-ek0RqusZ4&callback=initMapAndAttractionss&language=he&region=UK"
                async defer>
        </script>

    </div>

    <div style="position:fixed ;left:490px;">
        <div class="buttonStyle">

            <button class='yahoo' id="add_reg_to_path_med" type="button">הוספה למסלול</button>
        </div>

        <p></p>

    </div>

</div>


<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'menu_for_paths.js' %}?version=2"></script>
</body>
</html>