<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'signInForm.css' %}?version=1">
    {% load static %}
<link rel="stylesheet" href="{% static 'add_game.css' %}?version=1">
</head>
<body>
<button onclick="window.location.href='/main'" type="button">Back to menu</button>
<div align="center">
<h2>Add Game</h2>
<form>
  <div class="imgcontainer">
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->  <!-- need to add logo or something-->
  </div>
  <div class="container">

      {% load static %}
<script src="{% static 'add_game.js' %}?version=1"></script>

{#      <p><a href="JavaScript:newPopup('/add_picture');">Open a popup window</a></p>#}

      <button onclick="JavaScript:newPopup('/add_picture');" type="submit" >Sliding Puzzle</button>
      <button onclick="JavaScript:newPopup('/add_picture');" type="submit">Drag Puzzle</button>
      <button onclick="JavaScript:newPopup('/add_picture');" type="submit">Take A Picture</button>
      <button onclick="JavaScript:newPopup('/add_picture');" type="submit">Find The Differences</button>

  </div>


</form>
</div>
</body>
</html>
