<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>הוספת תמונה למשחק</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'withImages.css' %}?version=1">
     {% load static %}
<link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=4">
{% load static %}
<link rel="stylesheet" href="{% static 'just_want_background.css' %}?version=3">
     {% load static %}
<script src="{% static 'properties.js' %}?version=4"></script>
        {% load static %}
<script src="{% static 'attractions.js' %}?version=4"></script>
    {% load static %}
<script src="{% static 'add_picture.js' %}?version=6"></script>
</head>
<body>
<div align="center">
    <label for="hint"><b>:הדרכה למשחק</b></label>
<p></p>
<textarea id="game_instructions_text" placeholder="הוראות המשחק..." style="direction:rtl;text-align:right;height:100px;width:250px"></textarea>
    <p></p>
    <label for="hint"><b>:העלאת תמונה</b></label>
<p></p>
<input type="file" onchange="encodeImageFileAsURL(this)"/>
<p><img id="output" width="200" /></p>

{#    <article>#}
{#        <label for="files">Select multiple files: </label>#}
{#        <input id="files" type="file" multiple/>#}
{#        <output id="result" />#}
{#    </article>#}




    <label for="hint"><b>:אורך ורוחב התמונה (n x n)</b></label>
<p></p>
<select id="n_size">
    <option value=3>3x3</option>
    <option value=4>4x4</option>
    <option value=5>5x5</option>
    <option value=6>6x6</option>
    <option value=7>7x7</option>
    <option value=8>8x8</option>
</select>
    <p></p>
<button class="button" onclick="sendTheGameData()" style="direction:rtl;text-align:right;">סיימתי!</button>
    </div>
<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'menu_add_pic.js' %}?version=3"></script>



</body>
</html>