<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Short Path</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'paths_style.css' %}?version=1">
{% load static %}
<link rel="stylesheet" href="{% static 'Map.css' %}?version=3">
{% load static %}
<script src="{% static 'attractions.js' %}?version=5"></script>
    {% load static %}
<script src="{% static 'add_short_path.js' %}?version=1"></script>
     {% load static %}
<script src="{% static 'properties.js' %}?version=1"></script>
</head>
<body>
<button onclick="window.location.href='/main'" type="button">Back to menu</button>
{#<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#{% load static %}#}
{#<link rel="stylesheet" href="{% static 'Map.css' %}?version=1">#}
{#{% load static %}#}
{#<script src="{% static 'attractions.js' %}?version=1"></script>#}

<div align="center">
<div id="map">
{% load static %}
<script src="{% static 'Map.js' %}?version=1"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7rvXqYArUeu8hVHETM6g9w-ek0RqusZ4&callback=initMapAndAttractions&language=he&region=UK"
    async defer>
    </script>

</div>

<div class="buttonStyle">

<button id="add_reg_to_path" type="button">Add To Path</button>
<button id="finish_reg" type="button">Finish!</button>
    <button id="showingshit" type="button">show shit!</button>
</div>

</div>
</body>
<p></p>
<p></p>
<p id="things_to_fix"> </p>

<p id="showing_added_points"></p>
</html>
