<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>הוספת תמונה למשחק</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'withImages.css' %}?version=1">
     {% load static %}
<link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=4">
{% load static %}
<link rel="stylesheet" href="{% static 'just_want_background.css' %}?version=3">
     {% load static %}
<script src="{% static 'properties.js' %}?version=4"></script>
        {% load static %}
<script src="{% static 'attractions.js' %}?version=4"></script>
    {% load static %}
<script src="{% static 'add_picture.js' %}?version=6"></script>
</head>
<body>
<div align="center">
    <label for="hint"><b>:הדרכה למשחק</b></label>
<p></p>
<textarea id="game_instructions_text" placeholder="הוראות המשחק..." style="direction:rtl;text-align:right;height:100px;width:250px"></textarea>
    <p></p>
    <label for="hint"><b>:העלאת תמונה</b></label>
<p></p>
<input type="file" onchange="encodeImageFileAsURL(this)" multiple/>
<p><img id="output" width="200" /></p>

    <article>
{#        <label for="files">Select multiple files: </label>#}
        <input id="files" type="file" multiple/>
        <output id="result" />
    </article>


{#<p>This Is The URL:</p>#}
{#<p id="suka"></p>#}

    <label for="hint"><b>:אורך ורוחב התמונה (n x n)</b></label>
<p></p>
    <textarea id="n_size" placeholder="הכניסי את הגודל n..." style="direction:rtl;text-align:right;"></textarea>
<p></p>
<button class="button" onclick="sendTheGameData()" style="direction:rtl;text-align:right;">סיימתי!</button>
    </div>
<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'menu_add_pic.js' %}?version=3"></script>



</body>
</html>