<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Hint</title>
    {% load static %}
<script src="{% static 'attractions.js' %}?version=2"></script>
    {% load static %}
<script src="{% static 'add_hint.js' %}?version=2"></script>
</head>
<body>

<label for="hint"><b>Existing Hints:</b></label>
<p id="existing_hints"></p>

<label for="hint"><b>Add Hint:</b></label>



<p></p>
<button type="button" id="add_text_hint">add text</button>
<p></p>
<textarea id="text_hint_id" name="subject" placeholder="Write something..." style="display: none"></textarea>
<button type="button" id="send_text_hint" style="display: none">Send</button>
<p></p>

<button type="button" id="add_vid_hint">add video</button>
<p></p>
<textarea id="vid_hint_description" placeholder="Write description..." style="display: none"></textarea>
<p></p>
    <div id="message"></div>
<video id="vid_hint_id" height="200px" width="350px" controls="" autoplay="" style="display: none"></video>
<p></p>
    <input type="file" id="vid_hint_browse_id" accept="video/*" style="display: none">
<button type="button" id="send_vid_hint" style="display: none">Send</button>
<p></p>

<button type="button" id="add_pic_hint">add picture</button>
<p></p>
<textarea id="pic_hint_description" placeholder="Write description..." style="display: none"></textarea>
    <p></p>
    <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
    <p><label id="click_here_label" for="file" style="display: none">Click Here!</label></p>
    <p><img id="output" width="200"  style="display: none"/></p>
<button type="button" id="send_pic_hint" style="display: none">Send</button>

<p></p>
<button onclick="finishHint()" type="button">Finish</button>

{#style="display:none"#}
</body>
</html>