<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Hint</title>
      {% load static %}
<link rel="stylesheet" href="{% static 'just_want_background.css' %}?version=1">
    {% load static %}
<link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=4">
    {% load static %}
<script src="{% static 'attractions.js' %}?version=2"></script>
    {% load static %}
<script src="{% static 'add_hint_edit.js' %}?version=5"></script>
     {% load static %}
<script src="{% static 'properties.js' %}?version=2"></script>
</head>
<body>
<div align="center">
<label for="hint"><b>Existing Hints:</b></label>
<p id="existing_hints"></p>

{#<label for="hint"><b>Add Hint:</b></label>#}



<p></p>
{#<button type="button" id="add_text_hint">add text</button>#}
<p></p>
<textarea id="text_hint_id" name="subject" placeholder="Write Hint..." style="display: none;width:300px;height:200px;border-radius: 10px;"></textarea>
<p></p>
    <button type="button" id="send_text_hint" style="display: none">Send</button>
<p></p>

{#<button type="button" id="add_vid_hint">add video</button>#}
<p></p>
<textarea id="vid_hint_description" placeholder="Write description..." style="display: none"></textarea>
<p></p>
    <div id="message"></div>
<video id="vid_hint_id" height="200px" width="350px" controls="" autoplay="" style="display: none"></video>
<p></p>
    <input type="file" id="vid_hint_browse_id" accept="video/*" onchange="encodeVideoFileAsURL(this)" style="display: none">
    <p></p>
<button onclick="sendVideoHint()" type="button" id="send_vid_hint" style="display: none">Send</button>
<p></p>

{#<button type="button" id="add_pic_hint">add picture</button>#}
<p></p>
<textarea id="pic_hint_description" placeholder="Write description..." style="display: none"></textarea>
    <p></p>
   <label for="hint" id="upload_title" style="display: none"><b>Upload Image:</b></label>
<p></p>
<input type="file" id="file" onchange="encodeImageFileAsURL(this)" style="display: none"/>
<p><img id="output" width="200" style="display: none"/></p>
    <p></p>
<button type="button" onclick="sendImageHint()" id="send_pic_hint" style="display: none">Send</button>


<p></p>
<button class="button" id="finish_add_hint" onclick="finishHint()" type="button">Finish</button>
</div>
<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'menu_of_add_hint.js' %}?version=3"></script>
{#style="display:none"#}
</body>
</html>