<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'withImages.css' %}?version=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'beauty.css' %}?version=3">
    {% load static %}
    <link rel="stylesheet" href="{% static 'buttoni.css' %}?version=3">
    {% load static %}
    <link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=4">
    {% load static %}
    <link rel="stylesheet" href="{% static 'signInForm.css' %}?version=2">
    {% load static %}
    <script src="{% static 'attractions.js' %}?version=15"></script>
    {% load static %}
    <script src="{% static 'properties.js' %}?version=5"></script>
    {% load static %}
    <script src="{% static 'attr_info.js' %}?version=35"></script>
    {% load static %}
    <script src="{% static 'syncAttr.js' %}?version=6"></script>
</head>
<body>

<button id="englishBTN" class="language"
        style="height: 58px;width: 100px; background-image: url('../static/usa.JPG');background-size: cover; font-size:24px">
</button>
<button id="hebrewBTN" class="language"
        style="height: 58px;width: 100px; background-image: url('../static/israel.JPG');background-size: cover; font-size:24px">
</button>

<div align="center">
    <h2>הוספת אטרקציה</h2>
    <form>


        <article>
            <label for="files">Select multiple files: </label>
            <input id="files" type="file" multiple/>
            <output id="result"/>
        </article>

        <div class="container">

            <label for="desc" style="font-size: 24px;"><b>:תיאור</b></label>
            <textarea id="desc" name="attr_desc" placeholder="הכניסי תיאור אטרקציה"
                      style="direction:rtl;text-align:right;width:310px;height:200px"></textarea>
            <textarea id="desc_english" name="attr_desc_eng" placeholder="enter attraction description"
                      style="display:none;direction:ltr;text-align:left;width:310px;height:200px"></textarea>
            <p><br/></p>
            <button class='button google-blue' id="submit_btn_add_attr"
                    type="button" style="width: 220px;">שליחה
            </button>
        </div>
    </form>
</div>

<div>

    <nav id="sideMenu"></nav>
    {% load static %}
    <script src="{% static 'menu_of_add_attractions.js' %}?version=2"></script>

</div>

</body>
</html>
