<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'Map.css' %}?version=1">
{#{% load static %}#}
{#<script src="{% static 'attractions.js' %}?version=1"></script>#}
    {% load static %}
<script src="{% static 'edit_path.js' %}?version=2"></script>
</head>
<body>
<button onclick="window.location.href='/main'" type="button">Back to menu</button>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'Map.css' %}?version=1">
{#{% load static %}#}
{#<script src="{% static 'attractions.js' %}?version=1"></script>#}


<div id="map">
{#{% load static %}#}
{#<script src="{% static 'edit_path.js' %}?version=2"></script>#}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7rvXqYArUeu8hVHETM6g9w-ek0RqusZ4&callback=initMapAndAttractions&language=he&region=UK"
    async defer>
    </script>

</div>

<div class="buttonStyle">

{#<button id="add_to_path" type="button">Add To Path</button>#}
{#<button id="edit_attraction" type="button">Finish!</button>#}
</div>


</body>
</html>
