<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
<link rel="stylesheet" href="{% static 'signInForm.css' %}?version=2">
{% load static %}
<link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=5">
     {% load static %}
<script src="{% static 'properties.js' %}?version=2"></script>
</head>
<body>
<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'SideMenu.js' %}?version=3"></script>

</body>
</html>
