<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Path</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=3">
     {% load static %}
<script src="{% static 'attractions.js' %}?version=3"></script>
    {% load static %}
<script src="{% static 'pick_path_delete.js' %}?version=4"></script>
</head>
<body>

<div>
<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'mimicOfSide.js' %}?version=1"></script>

</div>

<div class="moveRight">
    <label for="hint"><b>Delete Path:</b></label>
<p></p>
<textarea id="write_path_length" placeholder="Write path length:
1 - short
2 - medium
3 - long " style="height:100px;width: 100px;"></textarea>
<button type="button" id="delete_chosen_path">Delete</button>
<p></p>


</div>

</body>
</html>