<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>עריכת רמזים</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'withImages.css' %}?version=1">
    {% load static %}
<link rel="stylesheet" href="{% static 'just_want_background.css' %}?version=1">
    {% load static %}
<link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=4">
    {% load static %}
<script src="{% static 'attractions.js' %}?version=1"></script>
    {% load static %}
<script src="{% static 'pick_hint_edit.js' %}?version=6"></script>
     {% load static %}
<script src="{% static 'properties.js' %}?version=2"></script>
</head>
<body>

<div>
<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'menu_of_pick_hint_edit.js' %}?version=2"></script>

</div>

<div align="center">
    <label for="hint" style="font-size: 36px;"><b>:רמזים קיימים</b></label>
<p id="existing_hints"></p>
    <p style="font-size: 36px;">:תמונות</p>
    <article>
        <output id="result"/>
    </article>
    <p style="font-size: 36px;">:סרטונים</p>
    <article>
        <output id="resultVideos"/>
    </article>
   <p><br /></p>


{#<button class="button" onclick="window.location.href='/add_hint'" type="button" style="width: 100px;">Add Hint</button>#}
{#<p></p>#}
{#<button class="button" type="button" id="want_to_edit_hint" style="width: 100px;">Edit Hint</button>#}
{#<p></p>#}
{#<textarea id="write_hint_id_to_edit" placeholder="...כתבי את מזהה הרמז" style="text-align:right;direction:ltr;width:320px;height:100px;border-radius:5px;display: none"></textarea>#}
<label id="editTitle" for="hint" style="display:none;font-size: 26px;"><b>בחירת רמז לעריכה</b></label>
    <p></p>
    <select id="edit_cb" style="display: none">
  <option id="ecb1" value="1" style="display: none;">1</option>
  <option id="ecb2" value="2" style="display: none;">2</option>
  <option id="ecb3" value="3" style="display: none;">3</option>
  <option id="ecb4" value="4" style="display: none;">4</option>
  <option id="ecb5" value="5" style="display: none;">5</option>
  <option id="ecb6" value="6" style="display: none;">6</option>
  <option id="ecb7" value="7" style="display: none;">7</option>
  <option id="ecb8" value="8" style="display: none;">8</option>
  <option id="ecb9" value="9" style="display: none;">9</option>
  <option id="ecb10" value="10" style="display: none;">10</option>
</select>
    <p></p>
<button class="button" type="button" id="edit_chosen_hint" style="display: none">עריכה</button>
     <p></p>
{#<p></p>#}
{#<button class="button" type="button" id="want_to_delete_hint" style="width: 100px;">Delete Hint</button>#}
{#<p></p>#}
{#<textarea id="write_hint_id_to_delete" placeholder="...כתבי את מזהה הרמז" style="text-align:right;direction:ltr;width:320px;height:100px;border-radius:5px;display: none"></textarea>#}
<label id="deleteTitle" for="hint" style="display:none;font-size: 26px;"><b>בחירת רמז למחיקה</b></label>
    <p></p>
    <select id="delete_cb" style="display: none">
  <option id="dcb1" value="1" style="display: none;">1</option>
  <option id="dcb2" value="2" style="display: none;">2</option>
  <option id="dcb3" value="3" style="display: none;">3</option>
  <option id="dcb4" value="4" style="display: none;">4</option>
  <option id="dcb5" value="5" style="display: none;">5</option>
  <option id="dcb6" value="6" style="display: none;">6</option>
  <option id="dcb7" value="7" style="display: none;">7</option>
  <option id="dcb8" value="8" style="display: none;">8</option>
  <option id="dcb9" value="9" style="display: none;">9</option>
  <option id="dcb10" value="10" style="display: none;">10</option>
</select>
    <p></p>
<button class="button" type="button" id="delete_chosen_hint" style="display: none">מחיקה</button>
<p></p>
{#<button class="button" onclick="donePickingHints()" type="button" style="width: 100px;">Finish</button>#}


</div>

{#style="display:none"#}
</body>
</html>