<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hints of attraction</title>
    {% load static %}
<script src="{% static 'attractions.js' %}?version=1"></script>
    {% load static %}
<script src="{% static 'pick_hint.js' %}?version=1"></script>
</head>
<body>

<label for="hint"><b>Existing Hints:</b></label>
<p id="existing_hints"></p>

<p></p>
<button onclick="window.location.href='/add_hint'" type="button">Add Hint</button>
<p></p>
<button type="button" id="want_to_edit_hint">Edit Hint</button>
<p></p>
<textarea id="write_hint_id_to_edit" placeholder="Write Hint ID..." style="display: none"></textarea>
<button type="button" id="edit_chosen_hint" style="display: none">Edit</button>
<p></p>
<p></p>
<button type="button" id="want_to_delete_hint">Delete Hint</button>
<p></p>
<textarea id="write_hint_id_to_delete" placeholder="Write Hint ID..." style="display: none"></textarea>
<button type="button" id="delete_chosen_hint" style="display: none">Delete</button>
<p></p>
<button onclick="donePickingHints()" type="button">Finish</button>

{#style="display:none"#}
</body>
</html>