<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Path</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'just_want_background.css' %}?version=2">
    {% load static %}
<link rel="stylesheet" href="{% static 'SideMenu.css' %}?version=4">
    {% load static %}
<script src="{% static 'pick_path_edit.js' %}?version=4"></script>
     {% load static %}
<script src="{% static 'properties.js' %}?version=2"></script>
</head>
<body>

<div>
<nav id="sideMenu"></nav>
{% load static %}
<script src="{% static 'menu_for_paths.js' %}?version=3"></script>

</div>

<div align="center">
    <label for="hint"><b>Edit Path:</b></label>
<p></p>
<textarea id="write_path_length" placeholder="Write path length:
1 - short
2 - medium
3 - long " style="height:100px;width: 200px;"></textarea>
    <p></p>
<button type="button" id="edit_chosen_path">Edit</button>
<p></p>


</div>

</body>
</html>