<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'signInForm.css' %}?version=12">

    {% load static %}
<script src="{% static 'sign_in.js' %}?version=5"></script>
 {% load static %}
<script src="{% static 'properties.js' %}?version=5"></script>
</head>
<body>
<div align="center">

<h2>Login Form</h2>

<form>
<p id="errorMsg"></p>
  <div class="container">


    <label><b>Username</b></label>
    <input type="text" id="user_name" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" id="password" placeholder="Enter Password" name="psw" required>

    <button onclick="checkPassword()" type="button">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>

</form>
</div>
</body>
</html>
