<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="net461" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.6.0.220655" targetFramework="net461" />
  <package id="Xamarin.Forms.Maps" version="3.6.0.220655" targetFramework="net461" />
  <package id="Xamarin.UITest" version="2.2.7" targetFramework="net461" />
</packages>